<style>
    #campaignList {
        height: 380px;
        background-color: white;
        box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
        margin-bottom: 12px;
    }
</style>

<div>
    <div>
        <ang03-grid id="campaignList"
                    item-formatter="itemFormatter"
                    items-source="campaignCollection"
                    column-layout="campaignColumnLayout"
                    selection-mode="None"
                    headers-visibility="Column">
        </ang03-grid>
    </div>

    <div class="btn-group">
        <button type="button" class="btn" ng-click="campaignCollection.moveToFirstPage()">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn" ng-click="campaignCollection.moveToPreviousPage()">
            <span class="glyphicon glyphicon-step-backward"></span>
        </button>
        <button type="button" class="btn" disabled style="width:100px; height:33px;">
            {{campaignCollection.pageIndex + 1 | number}} / {{campaignCollection.pageCount | number}}
        </button>
        <button type="button" class="btn" ng-click="campaignCollection.moveToNextPage()">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn" ng-click="campaignCollection.moveToLastPage()">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
</div>
